@{
    string idNumber = WebSecurity.CurrentUserName;

    Database db = Database.Open("CSlibrary");
    var user = db.QuerySingle(@"SELECT Name, isStudent FROM Users 
                                WHERE LOWER(idNumber) = LOWER(@0)",
                              WebSecurity.CurrentUserName);

    string name = user["Name"];
    bool isStudent = user["isStudent"];

    var followedCourses = db.Query(@"SELECT CourseCode FROM FollowedCourses 
                                   WHERE LOWER(StudentId) = LOWER(@0)
                                   ORDER BY CourseCode", WebSecurity.CurrentUserName);

    var courseList = db.Query(@"SELECT Courses.CourseCode, DerivedFollowedCourses.StudentId 
                                FROM Courses
                                LEFT OUTER JOIN (
                                    SELECT * FROM FollowedCourses 
                                    WHERE StudentId=(@0)) DerivedFollowedCourses
                                ON Courses.CourseCode=DerivedFollowedCourses.CourseCode
                                ORDER BY DerivedFollowedCourses.StudentId DESC, Courses.CourseCode ASC", idNumber);

    db.Close();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CSlibrary - View Courses</title>

    <!-- Bootstrap core -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- Custom Google Web Font -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700" />

    <!-- Animations -->
    <link rel="stylesheet" href="~/Content/animations.css" />

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="~/Content/landing-page.css" />
    <link rel="stylesheet" href="~/Content/offcanvas.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="Main.cshtml">CSlibrary</a>
            </div>

            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="ViewCourses.cshtml">View Courses</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name</a>
                        <ul class="dropdown-menu">
                            <li><a href="EditProfile.cshtml">Edit settings</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Logout.cshtml">Log out</a></li>
                        </ul>
                    </li>

                    @if (isStudent) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="panel panel-default">
                    <div class="panel-heading">My courses</div>
                    @if (followedCourses.Count() == 0) {
                        <div class="panel-body">
                            @if (isStudent) {
                                <p class="nav nav-pills nav-stacked">You are not following any courses. </p>
                            }
                            else {
                                <p class="nav nav-pills nav-stacked">You are not teaching any courses.</p>
                            }
                        </div>
                    }

                    else {
                        <ul class="nav nav-pills nav-stacked">
                        @foreach (var course in followedCourses) {
                            <li>
                                <a href="Files.cshtml?course=@course["CourseCode"]">
                                    @course["CourseCode"] <span class="label label-success pull-right"></span>
                                </a>
                            </li>
                        }
                        </ul>
                    }
                </div>
            </div>


            <div class="col-xs-12 col-sm-9">
                <p class="pull-left visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p>

                <div class="panel panel-default">
                    <div class="panel-heading">Course List</div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="50"></th>
                                <th width="400">Course Code</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var courseCode in courseList) {
                                <tr>
                                    <td width="50"></td>
                                    <td><a class="btn-link" href="Files.cshtml?course=@courseCode["CourseCode"]">@courseCode["CourseCode"]</a></td>
                                    @if (!idNumber.Equals(@courseCode["StudentId"])) {
                                        <td><a href="Follow.cshtml?courseCode=@courseCode["CourseCode"]" class="btn btn-default pull-right">
                                            @if (isStudent) {
                                                @:Follow
                                            }
                                            else {
                                                @:Add to my courses
                                            }
                                            </a>
                                        </td>
                                    }
                                    else {
                                        <td><a href="Unfollow.cshtml?courseCode=@courseCode["CourseCode"]" class="btn btn-success pull-right">
                                            @if (isStudent) {
                                                @:Unfollow
                                            }
                                            else {
                                                @:Remove from my courses
                                            }
                                            </a>
                                        </td>
                                    }
                                    
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <hr>
    </div><!--/.container-->

    <footer>
        <div class="container">
            <p class="copyright text-muted small">Copyright &copy; 2014 WEBAPPS Buddies. All Rights Reserved</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
</body>
</html>